                    * {
                        margin: 0;
                        padding: 0;
                        font-family: "Rubik", sans-serifb;
                    }
                    
                    body {
                        background: rgba(212, 212, 212, );
                        position: relative;
                        overflow: hidden;
                        min-width: 820px;
                    }

                    .admin-c{
                        display: flex;
                        flex-direction: column;
                        margin-bottom: 1rem;
                       row-gap: 5px;
                       align-items: center;


                    }
                    
                    .admin-n{
                        font-size: 19px;
                        color: #fff;
                        font-weight: bold;


                    }

                    .admin-e{
                        font-size: 17px;
                        color: rgb(202,197,197);

                    }


                    .wraper {
                        width: 100%;
                        height: 100vh;
                        display: flex;
                        flex-direction: row;
                        margin: 0.23rem 0.23rem;
                        column-gap: 2rem;
                    }
                    
                    .container-box1 {
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        padding: 0 2rem 0 1rem;
                        margin-top: 1rem;
                    }
                    
                    .side {
                        left: 0;
                        top: 0;
                        width: 28%;
                        height: 100%;
                        border-top-left-radius: 20px;
                        background-color: #287bff;
                        border-left: 10px solid #287bff;
                        color: silver;
                    }
                    
                    .side ul {
                        top: 0;
                        left: 0;
                        margin-top: 0.23rem;
                    }
                    
                    li .admin-class {
                        display: flex;
                        flex-direction: column;
                        margin-bottom: 1rem;
                        /* background-color: rebeccapurple; */
                        height: 50vh;
                    }
                    
                    .admin-img {
                        margin: 50px 20px 20px;
                        width: 100px;
                        height: 100px;

                        /* height: 30px; */
                        border-radius: 50%;

                    }
                    
                    .side li {
                        width: 100%;
                        height: 50px;
                        list-style: none;
                        border-bottom-left-radius: 30px;
                        border-top-left-radius: 30px;
                    }
                    
                    .side ul li:hover {
                        background: whitesmoke;
                    }
                    
                    .side ul li:nth-child(1) {
                        margin-bottom: 5px;
                        pointer-events: none;
                    }
                    
                    /* .side ul li:last-child {
                        margin-top: 20%;
                    }

                    .side ul li.li-login {
                        margin-top: 8%;
                    } */
                    
                    .side ul li a {
                        position: relative;
                        display: block;
                        width: 100%;
                        display: flex;
                        text-decoration: none;
                        color: whitesmoke;
                        height: fit-content;
                    }
                    
                    .side ul li a:hover,
                    .side ul li a.hovered {
                        color: #287bff;
                    }
                    
                    .side ul li a .icon {
                        display: block;
                        min-width: 18px;
                        line-height: 30px;
                        text-align: center;
                    }
                    
                    .side ul li:hover a::before,
                    .side ul li.hovered a::before {
                        content: '';
                        background: transparent;
                        border-radius: 50%;
                        box-shadow: 35px 35px 0 10px var(--white);
                        pointer-events: none;
                    }
                    
                    .side ul li:hover a::after,
                    .side ul li.hovered a::after {
                        content: '';
                        position: absolute;
                        right: 0;
                        bottom: -50px;
                        width: 50px;
                        height: 50px;
                        background: transparent;
                        border-radius: 50%;
                        box-shadow: 35px -35px 0 10px var(--white);
                        pointer-events: none;
                    }
                    
                    .side ul {
                        /* margin-top: 50px; */
                    }
                    
                    .imgl {
                        width: 30px;
                        height: 30px;
                        color: whitesmoke;
                    }
                    
                    .imglo {
                        width: 28px;
                        height: 26px;
                    }
                    
                    .imgll {
                        width: 200px;
                        height: 22px;
                    }
                    
                    .side ul a {
                        list-style: none;
                        text-decoration: none;
                        text-align: center;
                        padding: 15px;
                        color: whitesmoke;
                        font-family: "Rubik", sans-serif;
                        font-size: 24px;
                        position: relative;
                        display: block;
                        width: 100%;
                        display: flex;
                    }
                    
                    .side ul li i {
                        margin: 20px;
                    }
                    
                    .side ul li {
                        display: flex;
                        gap: 0.23rem;
                    }
                    
                    /* .side ul li:last-child { 
                        position: absolute;
                        bottom: 9rem; 
                         margin-top: 10rem;
                     } */
                    
                    .side ul hr {
                        border-radius: 3px;
                        width: 100%;
                        display: flex;
                        position: relative;
                        margin: 4px auto;
                        height: 0.1px;
                        background: whitesmoke;
                        margin-right: 0;
                    }
                    
                    .commenet-li {
                        margin-top: 10px;
                    }
                    
                    .cardholder {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        margin: 0 auto;
                        width: 100%;
                        margin-bottom: 1rem;
                    }
                    
                    .cardholder hr {
                        border-radius: 3px;
                        width: 40%;
                        display: flex;
                        height: 2px;
                        background: #566781;
                        display: flex;
                        align-items: center;
                        margin: 1rem;
                    }
                    
                    .cardbox {
                        align-self: center;
                        width: 100%;
                        padding: 2rem;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-evenly;
                        align-items: center;
                        gap: 4rem;
                    }
                    
                    .cardbox .card {
                        width: 20%;
                        height: 130px;
                        background: var(--white);
                        box-shadow: 0 7px 25px rgba(0, 0, 0, 0.3);
                        justify-content: center;
                        cursor: pointer;
                        display: flex;
                        border-radius: 20px;
                        align-items: center;
                        right: 0;
                        top: 0;
                        /* margin-right: 8rem; */
                    }
                    
                    .cardbox .card .number {
                        /* width: 100%; */
                        position: relative;
                        text-align: center;
                        font-weight: 500;
                        font-size: 2rem;
                        color: #287bff;
                    }
                    
                    .card:hover,
                    .card:hover .number {
                        background-color: #287bff;
                        color: white;
                    }
                    
                    .details {
                        display: flex;
                        justify-content: end;
                        width: 100%;
                        align-self: center;
                        overflow-y: scroll;
                        height: 80vh;
                    }
                    
                    .details .recentOrder {
                        height: auto;
                        width: 100%;
                        position: relative;
                        display: flex;
                        background: var(--white);
                        box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
                        word-wrap: none;
                    }
                    
                    .details {}
                    
                    .cardHeader {
                        display: flex;
                        justify-content: space-between;
                        align-items: flex-start;
                    }
                    
                    .cardHeader h3 {
                        font-weight: 600;
                        color: #287bff;
                    }
                    
                    .btn {
                        padding: 5px 10px;
                        background: #8de02c;
                        text-decoration: none;
                        color: var(--white);
                        border-radius: 6px;
                        padding: 2px 4px;
                        
                        color: whitesmoke;
                        width: 70px;
                        font-weight: 500;
                    }
                    
                    a .btn {
                        text-decoration: none;
                        color: whitesmoke;
                    }
                    
                    .btn:hover {
                        background: whitesmoke;
                        /* color: red; */
                    }
                    
                    a .btn:hover {
                        color: #000;
                    }
                    
                    .details .table-header {}
                    
                    .details table {
                        width: 100%;
                        height: auto;
                        border-collapse: collapse;
                        /* margin-top: 10px; */
                    }
                    
                    .details table tr {
                        height: 20px;
                        padding: 0;
                    }
                    
                    .details table thead td {
                        font-weight: 600;
                        position: sticky;
                        top: 0;
                        background-color: white;
                        ;
                        z-index: 1;
                    }
                    
                    .details .recentOrder table thead tr {
                        color: var(--black);
                    }
                    
                    .details .recentOrder table tr:last-child {
                        border-bottom: none;
                    }
                    
                    .details .recentOrder table tbody tr:hover {
                        background-color: #287bff;
                        color: whitesmoke;
                    }
                    
                    .details .recentOrder table tr td {
                        padding: 10px;
                        /* border-bottom: 2px solid #032a69; */
                    }
                    
                    .details .recentOrder table tr td:last-child {
                        text-align: end;
                    }
                    
                    .status.delivered {
                        padding: 2px 4px;
                        background: #8de02c;
                        color: whitesmoke;
                        border-radius: 14px;
                        font-weight: 500;
                    }