* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Noto Sans KR", sans-serif; */
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.wrapper{
  border:solid thin rgba(0, 0, 0, 0.103);
  width: 60%;
 margin: 7% auto;
 border-radius: 5px;
 padding:20px ;

}
.header {
  width: 80%;
  /* padding: 24px; */
  background: #7690da;
  background: #394e88;
  margin:5% auto 10% ;
  padding:5% 3%;
  border-radius: 5px;
  text-align: center;
}

.header h2 {
  font-size: 140%;
  line-height: 1.5em;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
}
@media (max-width: 900px) {
  .wrapper{
    margin: 20% auto;
    padding:10% 20px;
  }
  .header h2 {
   font-size: 120%;
   font-size:100%;
   padding:10px 0px ;
  }
}
@media (max-width: 600px) {
  .wrapper{
    margin: 30% auto;
    padding:10% 20px;
  
  }
   .header h2{
    font-size:100%;
    padding:10px 0px ;
  }
}

.btn-container {
  margin: 8% auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn {
  text-decoration: none;
  font-size: 20px;
  text-align: center;
  padding: 14px 38px;
  border-radius: 4px;
  color: #fff;
  background: #ef3824c4;
  background-color: rgba(0, 128, 0, 0.863);
  cursor: pointer;
  transition:transform 1s;
}

.btn:hover {
  background: #ef38249c;
  border: none;
}
.btn:active{
  transform: scale(.91);
  background: #ef3824c4;
}



