* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  /* display: absolute; */
}
.container {
  padding: 20px;
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
}
.main-box {
  /* display: relative; */
  /* width: 40%; */
  height: 255px;
  margin: 10px;
  margin-bottom: 16px;
  border-radius: 12px;
  background-color: rgb(65, 105, 225);
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 30px;
}
.blockquote {
  padding: 20px;
  padding-top: 10px;
}
.quote {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.4;
  margin-bottom: 30px;
  margin-top: 35px;
}

.img {
  position: relative;
  top: 40px;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin-left: 40px;
}
.name {
  padding-left: 32px;
  font-size: 18px;
}
.job {
  font-size: 14px;
}
.btn {
  background-color: #fff;
  width: 12px;
  height: 12px;
  border: 2px solid #087f5b;
  border-radius: 50%;
  cursor: pointer;
}
.btn--active {
  background-color: #087f5b;
}

.buttons {
  width: 60%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.img-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 50px;
  text-align: center;

  /* align-items: center;
  justify-content: center; */
}
/* .carousel {
    position: absolute;
    top: 220px;
    right: 260px;
    width: 28px;
    height: 28px;
    border: 1px solid purple;
    border-radius: 50%;
    background-color: #fff;
    color: #087f5b;
  } */

/* .container {
    width: 60%;
    height: 280px;
    margin: 100px auto;  
  
    display: flex;
    flex-direction: column;
  } */

@media (max-width: 1350px) {
  .container {
    flex-wrap: wrap;
  }
}
